//This card is currently being used for outcomes and success story cards
.card-type-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
  grid-gap: 3rem;
  &__wrapper {
    border-radius:var(--border-radius);
    border-top: 1rem solid var(--primary-color);
    cursor: pointer;
    display: flex;
    width: 100%;
    background-color: var(--bg-03);
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    box-shadow: none;
    &:hover {
      .mask {
        opacity: 1;
      }
    }
  }
  &__img-wrapper {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-weight: 300;
    height: 28rem;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    img {
      position: relative;
      width: 100%;
      max-width: 100%;
      height: 28rem;
      object-fit: cover;
      vertical-align: middle;
      border-style: none;
      line-height: 28rem;
      text-align: center;
      filter: grayscale(100%);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
    .mask {
      position: absolute;
      top: 0rem;
      bottom: 0rem;
      left: 0rem;
      right: 0rem;
      opacity: 0;
      background-color: rgba(235, 91, 44, 0.5);
      border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
  }
  &__body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  &__title, &__no-content {
    color: var(--heading-color);
    padding: 1rem 1.5rem;
    min-height: 7.5rem;
    line-height: 2.88rem;
    font-size: calc(var(--font-size-r) * 2.2);
    font-weight: calc(var(--font-weight) - 100);
    margin-bottom: 0rem;
  }
  &__caption {
    color: var(--text-color-00);
    padding: 1rem 1.5rem;
    line-height: normal;
    font-size: calc(var(--font-size-s) * 1.4);
    font-weight: calc(var(--font-weight) + 100);
    margin-bottom: 0rem;
  }
}

@media only screen and (max-width: 950px) {
  .card-type-1 {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    &__img-wrapper {
      height: 24rem;
      img {
        height: 24rem;
        line-height: 24rem;
      }
    }
    &__title {
      min-height: 7rem;
    }
  }
}
