//-------------------app-left-navbar
.navbar .nav-logo-name {
  margin-bottom: 3rem;
}
.navbar .nav-logo-name h1 {
  line-height: 2rem;
  font-weight: 500;
  font-size: 2.2rem;
  color: var(--primary-color);
}
h2 {
  margin-top: 20px;
  line-height: 2rem;
  font-weight: 600;
  font-size: 3rem;
  color: var(--primary-color);
}
.keep-navbar-expanded .nav-logo .desktop {
  margin-left: 1.2rem;
  img{
    width: 5rem;
  }
  span {
    margin: auto 1rem;
  }
}
