//-------------------form-table
.form-table-overflow {
  width: 100%;
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
}
.form-table-container {
  border: 0.1rem solid var(--field-border-color);
  background-color: var(--bg-00);
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  min-height: 20rem;
}
.form-table-header {
  background-color: var(--bg-01);
  border-bottom: 0.1rem solid var(--bg-03);
  .form-table {
    width: 100%;
    table-layout: fixed;
  }
  .form-table th {
    text-align: left;
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--text-color-00);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3.3rem;
    padding: 0.6rem 0.7rem 0.7rem 0.7rem;
    cursor: pointer;
  }
  .form-table th:last-child {
    padding-right: 2rem;
  }
  .form-table th:first-child {
    padding-left: 1.5rem;
  }
  .with-action th:last-child {
    text-align: center;
  }
  .with-selection th:first-child {
    width: 5rem;
    padding-left: 2rem;
  }
  //table sorting
  .th-sort,
  .th-sort-desc,
  .th-sort-asc {
    position: relative;
    cursor: pointer;
  }
  .th-sort:after,
  .th-sort-desc:after,
  .th-sort-asc:after {
    color: var(--icon-color);
    margin-left: 0.5rem;
    margin-top: -0.3rem;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .th-sort:hover:after {
    content: "\279C";
    transform: rotate(-90deg);
  }
  .th-sort-desc:after,
  .th-sort-asc:after {
    content: "\279C";
  }
  .th-sort-asc:after {
    transform: rotate(-90deg);
  }
  .th-sort-desc:after {
    transform: rotate(90deg);
  }
}
.form-table-content {
  background-color: var(--bg-00);
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  justify-content: center;
  .form-table {
    width: 100%;
    table-layout: fixed;
  }
  .form-table td:last-child {
    padding-right: 2rem;
  }
  .form-table td:first-child {
    padding-left: 1.5rem;
  }
  .with-action td:last-child {
    text-align: center;
  }
  .with-selection td:first-child {
    width: 5rem;
    padding-left: 2rem;
  }
  .form-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    vertical-align: middle;
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--text-color-00);
    border-bottom: solid 0.1rem var(--bg-01);
    height: 3.3rem;
    padding: 0.7rem 0.7rem 0.7rem 0.7rem;
    transition: 0s;
  }
  .row-hover:hover {
    background-color: var(--bg-01);
  }
  .row-hover-link:hover {
    cursor: pointer;
    background-color: var(--bg-01);
    td {
      transition: 0s;
      color: var(--secondary-color);
    }
  }
  .form-table tbody tr:last-child td {
    border: none;
  }
}
.form-table-no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  &__no-content-box {
    padding: 3rem 2rem 0rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      margin-top: 1.5rem;
      width: 5rem;
    }
    p {
      padding: 1rem 1rem 2rem 1rem;
      font-weight: 300;
      font-size: 1.4rem;
      color: var(--text-color-00);
    }
  }
}
