#responseText {
    padding: 10px 30px;    
    line-height: 1.5em;    
}
.scrollToTop {
    position: absolute;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    background: #388E3C;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
