<div class="sidebar-nav">
  <div class="logo">
      <!-- <a href="./dashboard-new">
          <p class="app-name">Email Solution</p>
      </a> -->
   
        <!-- <top-logo></top-logo> -->
<span class="divider" style="margin-top:20px;"></span>
  </div>

  <ul class="nav-sidebar">
      <li>
          <a class="nav-sidebar-link " routerLink="/dashboard-new" routerLinkActive='nav-sidebar-link-active' >
            <i style="margin-left:18px"><svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M21,14V4H3V14H21M21,2A2,2 0 0,1 23,4V16A2,2 0 0,1 21,18H14L16,21V22H8V21L10,18H3C1.89,18 1,17.1 1,16V4C1,2.89 1.89,2 3,2H21M4,5H15V10H4V5M16,5H20V7H16V5M20,8V13H16V8H20M4,11H9V13H4V11M10,11H15V13H10V11Z" />
          </svg></i>
            <div>Dashboard</div>
          </a>
      </li>
      <li>
          <a class="nav-sidebar-link" routerLink="/emails-new" routerLinkActive='nav-sidebar-link-active'>
              <i ><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
            </svg></i>
            <div>Emails</div>
          </a>
      </li>
      <li>
          <a class="nav-sidebar-link" routerLink="/mywork-new" routerLinkActive='nav-sidebar-link-active'>
              <i ><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M10,2H14A2,2 0 0,1 16,4V6H20A2,2 0 0,1 22,8V19A2,2 0 0,1 20,21H4C2.89,21 2,20.1 2,19V8C2,6.89 2.89,6 4,6H8V4C8,2.89 8.89,2 10,2M14,6V4H10V6H14Z" />
            </svg></i>
              <div>My Work</div>
          </a>
      </li>
      <li>
          <a class="nav-sidebar-link" routerLink="/reports" routerLinkActive='nav-sidebar-link-active'>
              <i ><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M2,2H4V20H22V22H2V2M14,14.5L12,18H7.94L5.92,14.5L7.94,11H12L14,14.5M14.08,6.5L12.06,10H8L6,6.5L8,3H12.06L14.08,6.5M21.25,10.5L19.23,14H15.19L13.17,10.5L15.19,7H19.23L21.25,10.5Z" />
            </svg></i>
              <div>Reports</div>
          </a>
      </li>
      <!-- <li>
          <a class="nav-sidebar-link" href="..\download.html">
              <i class="fa fa-download"></i>
              <p>Downloads</p>
          </a>
      </li>
      <li>
          <a class="nav-sidebar-link" href="..\vendormaster.html">
              <i class="fa fa-user-o"></i>
              <p>Vendor Master</p>
          </a>
      </li> -->
  </ul>
  <div class="logo">
      <a routerLink="/config" routerLinkActive='nav-sidebar-link-active'>
          <p class="app-name">Config Manager</p>
          <!-- <p class="icon">CM</p> -->
      </a>
  </div>
  <ul class="nav-sidebar">
      <li>
          <a class="nav-sidebar-link " routerLink="/config/intent-manager" routerLinkActive='nav-sidebar-link-active'>
              <i ><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M14,7H10V9H11V15H10V17H14V15H13V9H14V7M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3Z" />
            </svg></i>
              <div>Intent-Manager</div>
          </a>
      </li>
      <li>
          <a class="nav-sidebar-link" routerLink="/config/auto-reply" routerLinkActive='nav-sidebar-link-active'>
              <i ><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M9 11H18V13H9V11M18 7H6V9H18V7M22 4V22L18 18H4C2.9 18 2 17.11 2 16V4C2 2.9 2.9 2 4 2H20C21.1 2 22 2.89 22 4M20 4H4V16H18.83L20 17.17V4Z" />
            </svg></i>
              <div>Response-Manager</div>
          </a>
      </li>
      <li>
          <a class="nav-sidebar-link" routerLink="/config/entity-extraction" routerLinkActive='nav-sidebar-link-active'>
              <i ><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M15.5,12C18,12 20,14 20,16.5C20,17.38 19.75,18.21 19.31,18.9L22.39,22L21,23.39L17.88,20.32C17.19,20.75 16.37,21 15.5,21C13,21 11,19 11,16.5C11,14 13,12 15.5,12M15.5,14A2.5,2.5 0 0,0 13,16.5A2.5,2.5 0 0,0 15.5,19A2.5,2.5 0 0,0 18,16.5A2.5,2.5 0 0,0 15.5,14M7,15V17H9C9.14,18.55 9.8,19.94 10.81,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19A2,2 0 0,1 21,5V13.03C19.85,11.21 17.82,10 15.5,10C14.23,10 13.04,10.37 12.04,11H7V13H10C9.64,13.6 9.34,14.28 9.17,15H7M17,9V7H7V9H17Z" />
            </svg></i>
              <div>Entity-Manager</div>
          </a>
      </li>
      <li>
        <a class="nav-sidebar-link" routerLink="/config/document-manager" routerLinkActive='nav-sidebar-link-active'>
            <i ><svg style="width:24px;height:24px" viewBox="0 0 24 24">
                <path fill="currentColor" d="M16 0H8C6.9 0 6 .9 6 2V18C6 19.1 6.9 20 8 20H20C21.1 20 22 19.1 22 18V6L16 0M20 18H8V2H15V7H20V18M4 4V22H20V24H4C2.9 24 2 23.1 2 22V4H4M10 10V12H18V10H10M10 14V16H15V14H10Z" />
            </svg></i>
            <div>Document-Manager</div>
        </a>
    </li>
    <li >
        <a routerLink="/settings" routerLinkActive='nav-sidebar-link-active' class="nav-sidebar-link">
            <i><svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" />
            </svg></i>
          <div>Settings</div>
        </a>
    </li>
    <li>
        <div class="t-logo__name" style="font-size: 1.5rem;font-weight: 600;line-height: 5.2rem;margin: 3rem 0 0 0.1rem;">SmartEmail.AI</div>
    </li>
  </ul>
</div>